@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-image: url(/img/wladislaw-sokolowskij-0vw4InAC-yM-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 4rem;
    font-weight: normal;
    color: #000099;
    margin-top: 5rem;
}

.big-text {
    font-size: 6rem;
    font-weight: 900;
    line-height: 1;
    margin: 1rem 2rem;
    color: #000099;
}
  
.countdown-cont {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.countdown-el  {
    text-align: center;
    /* color: #000099; */
}

.countdown-el span {
    font-size: 1.3rem;
    color: #000099;
}